@charset 'utf-8';

/* reset */
*{box-sizing:border-box;margin:0;padding:0;color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:inherit;font-size:inherit;}
b,strong{font-weight:inherit;}
i,address{font-style:inherit;}
ul,ol,li{list-style:none;}
a{text-decoration:none;color:inherit;}
img{margin:0;width:100%}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root{font-family:'Noto Sans KR',sans-serif;font-weight:400;font-size:14px;}
.container{margin:0 auto;max-width:1200px;}

.line,.line2{width:180px;height:1px;background-color:#999;margin:200px auto 100px;}
.line2{width:100px;margin:150px auto 0;}

.back-swiper{width:100%;height:100%;}
.swiper01 img{width:100%;height:100%;}
.swiper-button-next:after,.swiper-button-prev:after{color:rgba(255,255,255,0.5);}
.swiper-pagination-bullet-active{background:#fff;}
.right-write{position:fixed;right:-20px;transform:rotate(90deg);}
.swiper-button-next{right:10px;}

/* header style */
.header-container{max-width:none;width:100%;height:80px;padding:0 15px;border-bottom:1px solid rgba(255,255,255,0.5);position:fixed;top:0;left:0;right:0;z-index:9999;}
.header-top{max-width:1200px;height:80px;margin:0 auto;display:flex;flex-flow:row nowrap;justify-content:space-between;padding:20px 0;}
.nav{display:flex;flex-flow:row nowrap;align-items:center;}
.desk-nav{display:flex;}
.main-nav{display:flex;justify-content:space-between;margin-right:20px;width:570px;}
.main-nav a{font-size:18px;color:#fff;}
.icon-nav{display:flex;flex-flow:row nowrap;align-items:center;}
.right-nav ul{display:flex;}
.icon-nav a i{margin-left:15px;font-size:20px;color:#fff;}
.mo-nav{display:none;align-items:center;width:100%;height:80px;position:fixed;left:0;right:0;top:0;background-color:#fff;transform:translate(100%,0);transition:0.3s;}
.btn-nav{margin-right:20px;display:none;flex-flow:column;justify-content:center;cursor:pointer;}
.mo-main-nav{display:flex;width:90%;margin:0 auto;justify-content:space-between;}
.mo-left-nav{display:flex;flex:3;justify-content:space-around;align-items:center;}
.btn-nav i{font-size:30px;color:#fff;}
.mo-nav .icon-nav i{color:#000;}
.btn-close{font-size:25px;cursor:pointer;}

/* best-seller style */
.best-seller{margin-top:150px;margin-bottom:150px;position:relative;}
.main-txt{margin-bottom:45px;font-weight:500;font-size:30px;text-align:center;color:#5c746d;}
.sub-txt{margin-bottom:45px;font-weight:300;font-size:20px;color:#333;text-align:center;}
/* .product-slider .swiper-slide{display:flex;flex-flow:column;align-items:center;} */
.best-seller::after{content:'';display:block;position:absolute;left:11.1979vw;right:11.1979vw;top:350px;bottom:-77px;background-color:#cce0d4;z-index:-999;}
.swiper02{width:90%;}
.product-box{text-align:center;}
.product-box img{box-shadow:3px 3px rgba(0,0,0,.3);}
.product-name{font-weight:500;font-size:24px;}
.price{margin-top:10px;font-size:22px;}
.btn-view-more{font-weight:500;font-size:20px;width:200px;height:50px;padding-top:8px;border:1px solid #5c746d;background-color:#fff;text-align:center;color:#5c746d;
    position:absolute;left:50%;right:50%;bottom:-16%;transform:translate(-50%,0);}


/* contents style */
.contents{position:relative;margin-bottom:100px;}
.contents::after{content:'';display:block;position:absolute;left:0;right:0;bottom:300px;top:263px;background-color:#e7efea;z-index:-99999;}
.contents .txt-box{display:flex;flex-flow:column;align-items:center;justify-content:center;text-align:center;}
.top-contents{margin-bottom:50px;}
.top-contents,.bottom-contents{display:flex;justify-content:space-between;}
.top-contents .img-box,.bottom-contents .txt-box{width:40%;margin-left:40px;}
.top-contents .txt-box,.bottom-contents .img-box{width:40%;margin-right:40px;}
.contents-container h3{font-weight:500;font-size:35px;line-height:40px;margin-bottom:25px;}
.contents-container .txt-box p{font-size:25px;line-height:30px;margin-bottom:25px;}
.btn-view{width:100px;height:40px;padding:8px;background-color:#5c746d;}
.btn-view a{color:#fff;}

/* anua-story style */
.anua-story{position:relative;width:90%;margin:0 auto 200px;}
.anua-story-container{max-width:1360px;display:flex;flex-flow:row nowrap;justify-content:space-between;}
.left-img{width:61.3235%;display:flex;flex-flow:row nowrap;justify-content:space-between;}
.left-img img:nth-child(2),.left-img img:nth-child(4){margin-top:100px;}
.right-txt{width:36.7647%;display:flex;flex-flow:column;align-items:center;justify-content:center;}
.circle-logo{margin-bottom:20px;}
.circle-logo img{width:80px;height:80px;}
.anua-story-txt{font-size:30px;text-align:left;}
.bottom-txt{position:absolute;right:150px;bottom:0;}

/* footer style */
.footer{width:100%;background-color:#5c746d;padding:30px 0 30px 20px;}
.footer-container{display:flex;justify-content:space-between;width:90%;}
.footer *{color:#fff;}
.footer-logo img{width:80px;height:80px;margin-bottom:20px;}
address{margin-bottom:1em;text-align:right;}
.footer-nav ul{display:flex;justify-content:flex-end;}
.footer-nav ul li{margin-left:1em;}



@media(max-width:1299px){
    .left-img img:nth-child(1){display:none;}
}
@media (max-width:1200px) {
    .contents{margin:0 auto 100px;width:90%;}
    .top-contents,.bottom-contents{width:90%;margin:0 auto;}
}
@media(max-width:1000px){
    .container{margin:0 20px;}
    .container:nth-child(1){margin:0;}

    /* header style */
    .logo{margin-left:20px;}
    .btn-nav{display:flex;}
    .nav,.right-nav{display:none;}

    .swiper02{width:64%;}
    .btn-view-more{bottom:-10%;}

    /* contents style */
    .top-contents .img-box,.bottom-contents .txt-box{margin-left:0;}
    .top-contents .txt-box,.bottom-contents .img-box{margin-right:0;}

    /* anua-story style */
    .left-img img:nth-child(1){display:block;}
    .right-txt,.left-img img:nth-child(4){display:none;}
    .left-img{width:100%;margin:0 20px;}            
    .bottom-txt{right:20px;width:80%;}
}
@media (max-width:767px) {
    .container{margin:0 10px;}
    .container:nth-of-type(4){margin:0;}

    .logo img{width:60%;margin-top:7px;}
    .swiper-button-next:after,.swiper-button-prev:after{transform:scale(0.7);}

    .desk-nav{display:none;}
    .btn-nav,.mo-nav{display:flex;}

    .line2,.best-seller{margin-top:100px;}

    .product-name{font-size:16px;margin-top:10px;}
    .price{font-size:14px;margin-top:6px;}
    .best-seller::after{bottom:-28px;}

    .bottom-contents,.top-contents{flex-flow:column wrap;margin-bottom:100px;}
    .bottom-contents .img-box{order:1;}
    .bottom-contents .txt-box{order:2;}
    .top-contents .img-box,.bottom-contents .img-box,
    .top-contents .txt-box,.bottom-contents .txt-box,
    .top-contents .img-box img,.bottom-contents .img-box img{width:100%;}
    .contents-container h3{font-size:22px;line-height:24px;margin-bottom:12px;}
    .contents-container .txt-box p{font-size:14px;line-height:18px;margin-bottom:24px;}

    .left-img img:nth-child(2){display:none;}
    .bottom-txt{right:0;width:100%;}
    .bottom-txt img{width:100%;}


    .footer{font-size:12px;}
    .footer-container{justify-content:center;}
    

}
@media (max-width:500px) {
    .left-img img:nth-child(1){display:none;}
    .left-img img{width:50%;margin:0 auto;}
}
@media (max-width:320px) {
    .wrap{display:none;}
}